<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amnezia.capacitor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- AmneziaWG Backend VpnService -->
    <application>
        <service android:name="org.amnezia.awg.backend.GoBackend$VpnService"
                 android:permission="android.permission.BIND_VPN_SERVICE"
                 android:exported="true">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>
    </application>
</manifest>
